# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode
.vs

# Visual Studio junk
*.VC.db
*.vc.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo

# Xcode
*.xcodeproj
*.xcworkspace

# macOS junk
.DS_Store
._*

# Starter Content
Content/StarterContent/

# Marketplace assets
Content/VehicleVarietyPack/
